<footer>
    <p>&copy; {{ 'now' | date: "%Y" }} RFOF-NETWORK. All rights reserved.</p>
    <p class="mt-2">
        <a href="https://github.com/RFOF-NETWORK" target="_blank">GitHub Profile</a> |
        <a href="https://github.com/orgs/skills/discussions/categories/github-pages" target="_blank">Contact / Discussions</a> |
        <a href="https://docs.github.com" target="_blank">GitHub Docs</a> |
        <a href="https://github.com/explore" target="_blank">GitHub Explore</a> |
        <a href="https://www.githubstatus.com/" target="_blank">System Status</a> |
        <a href="https://www.contributor-covenant.org/version/2/1/code_of_conduct/code_of_conduct.md" target="_blank">Code of Conduct</a> |
        <a href="https://gh.io/mit" target="_blank">MIT License</a> |
        <a href="feed.xml" target="_blank">Subscribe via RSS Feed</a>
    </p>
</footer>
